extends layout
block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    else
        - let houseid = toShow._id
        - let house_rooms = toShow.house_rooms
        - let house_area = toShow.house_area
        - let house_rent = toShow.house_rent
        - let actionid = "/resource/house/" + houseid
        script let actionid = "#{actionid}"
        div
            div.row
                div(class='houseAttr mr-3') house ID is:
                div #{houseid}
            div.row
                div(class='houseAttr mr-3') house rooms is:
                div #{house_rooms}
            div.row
                div(class='houseAttr mr-3') house area is:
                div #{house_area}
            div.row
                div(class='houseAttr mr-3') house rent is:
                div #{house_rent}
        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
        function cancel() {
        // Go back to the home page for the house collection
        window.location.href='/house'
        }
    script.
        function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
        method: 'DELETE' 
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Delete succeded")
        window.location.href='/house'
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
        });
        }